name: PR Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build with Gradle Wrapper
        uses: gradle/gradle-build-action@v2
        with:
          arguments: clean build
          java-version: '23'
          distribution: 'temurin'
          cache-read-only: false
